USE [RetailDW]
GO
/****** Object:  Table [dbo].[dim_tiempo]    Script Date: 08/03/2026 08:51:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_tiempo](
	[id_tiempo] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[anio] [int] NULL,
	[mes] [int] NULL,
	[dia] [int] NULL,
	[seasonality] [varchar](20) NULL,
	[holiday] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_ventas_inventario]    Script Date: 08/03/2026 08:51:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_ventas_inventario](
	[fk_tiempo] [int] NOT NULL,
	[fk_tienda] [int] NOT NULL,
	[fk_producto] [int] NOT NULL,
	[fk_clima] [int] NOT NULL,
	[units_sold] [int] NULL,
	[units_ordered] [int] NULL,
	[inventory_level] [int] NULL,
	[demand_forecast] [decimal](10, 2) NULL,
	[price] [decimal](10, 2) NULL,
	[discount] [decimal](5, 2) NULL,
	[competitor_pricing] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[fk_tiempo] ASC,
	[fk_tienda] ASC,
	[fk_producto] ASC,
	[fk_clima] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ventas_por_mes]    Script Date: 08/03/2026 08:51:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ventas_por_mes] AS
SELECT 
    t.anio,
    t.mes,
    SUM(f.units_sold) AS total_unidades_vendidas,
    SUM(f.units_sold * f.price) AS ingreso_total
FROM fact_ventas_inventario f
JOIN dim_tiempo t 
ON f.fk_tiempo = t.id_tiempo
GROUP BY 
    t.anio,
    t.mes;
GO
/****** Object:  Table [dbo].[dim_producto]    Script Date: 08/03/2026 08:51:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_producto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [varchar](10) NOT NULL,
	[category] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_producto] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ventas_por_categoria]    Script Date: 08/03/2026 08:51:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ventas_por_categoria] AS
SELECT 
    p.category,
    SUM(f.units_sold) AS total_unidades_vendidas,
    SUM(f.units_sold * f.price) AS ingreso_total
FROM fact_ventas_inventario f
JOIN dim_producto p 
ON f.fk_producto = p.id_producto
GROUP BY 
    p.category;
GO
/****** Object:  Table [dbo].[dim_tienda]    Script Date: 08/03/2026 08:51:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_tienda](
	[id_tienda] [int] IDENTITY(1,1) NOT NULL,
	[store_id] [varchar](10) NOT NULL,
	[region] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tienda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ventas_por_region]    Script Date: 08/03/2026 08:51:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ventas_por_region] AS
SELECT 
    t.region,
    SUM(f.units_sold) AS total_unidades_vendidas,
    SUM(f.units_sold * f.price) AS ingreso_total
FROM fact_ventas_inventario f
JOIN dim_tienda t 
ON f.fk_tienda = t.id_tienda
GROUP BY 
    t.region;
GO
/****** Object:  Table [dbo].[dim_clima]    Script Date: 08/03/2026 08:51:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_clima](
	[id_clima] [int] IDENTITY(1,1) NOT NULL,
	[weather_condition] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_clima] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ventas_por_clima]    Script Date: 08/03/2026 08:51:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ventas_por_clima] AS
SELECT 
    c.weather_condition,
    SUM(f.units_sold) AS total_unidades_vendidas,
    AVG(f.units_sold) AS promedio_ventas
FROM fact_ventas_inventario f
JOIN dim_clima c 
ON f.fk_clima = c.id_clima
GROUP BY 
    c.weather_condition;
GO
/****** Object:  View [dbo].[vw_forecast_vs_ventas]    Script Date: 08/03/2026 08:51:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
------------------------------------------------

CREATE VIEW [dbo].[vw_forecast_vs_ventas] AS
SELECT 
    t.anio,
    t.mes,
    SUM(f.units_sold) AS ventas_reales,
    SUM(f.demand_forecast) AS demanda_estimado,
    SUM(f.units_sold) - SUM(f.demand_forecast) AS diferencia
FROM fact_ventas_inventario f
JOIN dim_tiempo t 
ON f.fk_tiempo = t.id_tiempo
GROUP BY 
    t.anio,
    t.mes;
GO
/****** Object:  Table [dbo].[staging_retail]    Script Date: 08/03/2026 08:51:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staging_retail](
	[fecha] [date] NULL,
	[store_id] [varchar](10) NULL,
	[product_id] [varchar](10) NULL,
	[category] [varchar](50) NULL,
	[region] [varchar](50) NULL,
	[inventory_level] [int] NULL,
	[units_sold] [int] NULL,
	[units_ordered] [int] NULL,
	[demand_forecast] [decimal](10, 2) NULL,
	[price] [decimal](10, 2) NULL,
	[discount] [decimal](5, 2) NULL,
	[weather_condition] [varchar](30) NULL,
	[holiday] [bit] NULL,
	[competitor_pricing] [decimal](10, 2) NULL,
	[seasonality] [varchar](20) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_ventas_inventario]  WITH CHECK ADD FOREIGN KEY([fk_clima])
REFERENCES [dbo].[dim_clima] ([id_clima])
GO
ALTER TABLE [dbo].[fact_ventas_inventario]  WITH CHECK ADD FOREIGN KEY([fk_producto])
REFERENCES [dbo].[dim_producto] ([id_producto])
GO
ALTER TABLE [dbo].[fact_ventas_inventario]  WITH CHECK ADD FOREIGN KEY([fk_tiempo])
REFERENCES [dbo].[dim_tiempo] ([id_tiempo])
GO
ALTER TABLE [dbo].[fact_ventas_inventario]  WITH CHECK ADD FOREIGN KEY([fk_tienda])
REFERENCES [dbo].[dim_tienda] ([id_tienda])
GO
